PORT=4000
DATABASE_URL="mysql://avnadmin:CONTRA@mysql-398a083f-juanbenjaminsantosgonzalez-4c2e.a.aivencloud.com:12255/pronavid?ssl-mode=REQUIRED"
JWT_SECRET=algo_muy_secreto
CLOUDINARY_URL=cloudinary://apikey@yreol8kf